*{
    background-color: aliceblue;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    max-width: 400 px;
    height: 100%;
    max-height: 100vh;
}
.img{
    width: 40%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}