
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
main{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
}

Header{
    font-weight: bolder;
    font-size: large;
    padding: 20px;
}
img{
    width: 100%;
    max-width: 400 px;
    height: 100%;
    max-height: 100vh;
}
.img{
    width: 40%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
form{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

input{
    width: 250px;
    border: 1px solid #D6D9DC;
    border-radius: 2px;
    padding: 3px 5px;
    font-size: medium;
}
div{
    display: flex;
    flex-direction: column;
}
.bottom{
 margin: 10px;
}

button{
   
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 10px;
    width: 30%;
    font-weight: 600;
    color: white;
}

strong{
    color: green;
}
.text{
    font-size: large;
    font-weight: bold;
    margin-top: 0;
}

.center{
    background-color: white;
    padding: 10px;
}

.field{
    margin-top: 10px;
}

input:hover{
    outline: 2px solid purple;
}
input:invalid{
    outline: 2px solid red;
}